doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/public/css/home.css")
        img(src="https://i.pinimg.com/1200x/d5/ef/04/d5ef040ed586fbb5d6842828cd5f8598.jpg", alt="", srcset="")
        title Document
    body
        //- h1 Hello World!