doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Playlist Của Tôi - MusicApp
    link(rel="stylesheet", href="/public/css/home.css")
    link(rel="stylesheet", href="/public/css/my-playlists.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .app-container
      //- Sidebar
      aside.sidebar
        .sidebar-header
          .logo
            i.fas.fa-music
            span MusicApp
        
        nav.sidebar-nav
          a.nav-item(href="/")
            i.fas.fa-home
            span Trang Chủ
          a.nav-item(href="/songs")
            i.fas.fa-music
            span Bài Hát
          a.nav-item(href="/playlists")
            i.fas.fa-list-ul
            span Playlist
          a.nav-item.active(href="/my-playlists")
            i.fas.fa-heart
            span Playlist Của Tôi
        
        .sidebar-footer
          .user-info-sidebar
            .avatar
              i.fas.fa-user-circle
            .user-details
              p.username= user.username
              p.user-role= user.role || 'User'

      //- Main Content
      main.main-content
        //- Header
        header.main-header
          .header-left
            h1.page-title Playlist Của Tôi
          
          .header-actions
            a.btn.btn-primary(href="/playlists/create")
              i.fas.fa-plus
              span Tạo Playlist
            .user-menu
              .user-avatar
                i.fas.fa-user-circle
              span.user-name= user.username
              .dropdown-menu
                a(href="/profile")
                  i.fas.fa-user
                  span Trang cá nhân
                if user.role === 'admin'
                  a(href="/admin")
                    i.fas.fa-cog
                    span Admin Dashboard
                a(href="/logout")
                  i.fas.fa-sign-out-alt
                  span Đăng xuất

        //- My Playlists Content
        .content-wrapper
          .tabs-container
            button.tab-btn.active(data-tab="created") Đã Tạo
            button.tab-btn(data-tab="liked") Yêu Thích
          
          .tab-content
            .tab-panel.active#createdTab
              .playlists-grid
                //- Created playlists will be loaded here
                p.loading-text Đang tải playlist...
            
            .tab-panel#likedTab
              .playlists-grid
                //- Liked playlists will be loaded here
                p.loading-text Đang tải playlist...

      //- Music Player
      .music-player
        .player-content
          .player-left
            .song-thumbnail
              i.fas.fa-music
            .song-info
              p.song-name Chọn một bài hát
              p.song-artist ---
          
          .player-center
            .player-controls
              button.control-btn
                i.fas.fa-random
              button.control-btn
                i.fas.fa-step-backward
              button.control-btn.play-btn
                i.fas.fa-play
              button.control-btn
                i.fas.fa-step-forward
              button.control-btn
                i.fas.fa-redo
            
            .player-progress
              span.time-current 0:00
              .progress-bar
                .progress-fill
              span.time-total 0:00
          
          .player-right
            button.control-btn
              i.fas.fa-list-ul
            .volume-control
              i.fas.fa-volume-up
              input(type="range" min="0" max="100" value="70")

    script(src="/public/js/my-playlists.js")
