doctype html
html(lang="vi")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 
    link(rel="stylesheet", href="/public/css/home.css")
    link(rel="stylesheet", href="/public/css/playlists.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
  body
    .app-container
      aside.sidebar
        .sidebar-header
          .logo
            i.fas.fa-music
            span MusicApp

        nav.sidebar-nav
          a.nav-item.active(href="/")
            i.fas.fa-home
            span Khám Phá
          //- a.nav-item(href="#")
          //-   i.fas.fa-chart-line
          //-   span BXH Nhạc Mới
          //- a.nav-item(href="#")
          //-   i.fas.fa-fire
          //-   span Chủ Đề & Thể Loại
          //- a.nav-item(href="#")
          //-   i.fas.fa-star
          //-   span Top 100
          //- a.nav-item(href="#")
          //-   i.fas.fa-podcast
          //-   span Podcast

        .divider

        .library-section
          h4.library-title Thư Viện
          //- a.nav-item(href="#")
          //-   i.fas.fa-heart
          //-   span Yêu Thích
          //- a.nav-item(href="#")
          //-   i.fas.fa-clock-rotate-left
          //-   span Nghe Gần Đây
          a.nav-item(href="#")
            i.fas.fa-folder
            span Playlist Của Tôi

      main.main-content
        header.main-header.playlist-header

          .search-box
            i.fas.fa-search
            input(type="text" placeholder="Tìm kiếm")

          .header-actions
            if user
              .user-menu
                .user-avatar
                  i.fas.fa-user-circle
                span.user-name= user.username
                .dropdown-menu
                  a(href="/profile")
                    i.fas.fa-user
                    span Trang cá nhân
                  if user.role === 'admin'
                    a(href="/admin")
                      i.fas.fa-cog
                      span Admin Dashboard
                  a(href="/logout")
                    i.fas.fa-sign-out-alt
                    span Đăng xuất
            else
              a.btn.btn-login(href="/login") Đăng nhập
              a.btn.btn-register(href="/register") Đăng ký

        .content-wrapper.playlist-detail-page
          section.playlist-hero
            .playlist-cover-wrap
              .playlist-cover-stack
                img#playlistCover.playlist-cover-image(src=playlist.coverUrl alt="Cover playlist")
              .cover-shadow

            .playlist-hero-body
              .playlist-meta-line
                span#playlistType Playlist
                span.dot-divider •
                span#playlistCountText #{songs.length} bài hát
              h2#playlistTitle.playlist-title #{playlist.playlistName}
              .playlist-main-actions
                button#playAllBtn.btn-hero.btn-hero-primary(type="button")
                  i.fas.fa-play
                  span Phát tất cả


          .playlist-layout
            section.panel-card.track-panel
              .track-table-wrap
                table.track-table
                  thead
                    tr
                      th #
                      th Tiêu đề
                      th Người đăng
                      th Nghệ sĩ
                      th Thời lượng
                  tbody#playlistTracks
    include partials/music-player.pug
    script(src="/public/js/home.js")